<div class="form">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{productPhoto}}" class="card-img" alt="{{productId}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> {{productName}} </h5>
          <p class="card-text"> {{productDescription}} </p>
          <p class="card-text"><small class="text-muted"> Price: {{productPrice}}$ </small></p>
          <p class="card-text"><small class="text-muted"> Category Id: {{productCategory}} </small></p>
        </div>
      </div>
    </div>
  </div>

</div>
